h1 {
  font-size: 45px;
}

h2 {
  font-size: 37px;
}

body {
  background-color: lightblue;
}

div {
  padding-top: 40px ;
  padding-bottom: 40px ;
  font-size: 30px;
}

label {
  padding-right: 40px;
}

form.form-a {
  border: 2px solid blue;
  display: table;
  font-size: 30px;
}

div.form-a {
  display: table-row;
  font-size: 30px;
}

label, input {
  display: table-cell;
  margin-bottom: 30px;
  font-size: 30px;
}

select, input {
  display: table-cell;
  margin-bottom: 30px;
  font-size: 30px;
}

input.form-b {
  border: 2px solid blue;
  background-color: red;
  padding: 40px ;
}
